@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$themeColor: cornflowerblue;
body {
    hr {
        background-color: #f3eeee45!important;
        border-color: #f3eeee45!important;
        box-shadow: 3px 3px 3px #f3eeee45;
    }
    code {
        color: cornflowerblue
    }
    font-family: 'Roboto', sans-serif;
    .content-box {
        padding-top: 1.5in;
        width: 50%;
        margin: auto;
        button {
            border: 1px solid #03218556;
            border-radius: 8px;
            background-color: $themeColor;
            color: white;
            padding: 10px 15px;
            margin-top: 15px;
        }
        button:hover {
            cursor: pointer;
        }
        .test-component {
            margin-top: 40px;
        }
        .pointComponent-text {
            font-size: 70px;
        }
    }
    .header {
        background-color: $themeColor;
        padding: 30px 25%;
        font-size: 30px;
        text-transform: uppercase;
        color: white;
        box-shadow: 3px 3px 3px #ccc;
        text-shadow: 3px 3px 3px #3e3e3e;
        display: flex;
        align-items: center;
        .logo-image {
            max-width: 100px;
            margin-right: 30px;
        }
    }
}